.aws {
    --slider-height-percentage: 33%;
    --slider-transition-duration: 508ms;
    --organic-arrow-thickness: 1px;
    --organic-arrow-border-radius: 4px;
    --organic-arrow-height: 30px;
    --organic-arrow-color: #ffffff;
    --control-button-width: 8%;
    --control-button-height: 29%;
    --control-button-background: transparent;
    --control-bullet-color: #000000;
    --control-bullet-active-color: #ffffff;
    --loader-bar-color: #851515;
    --loader-bar-height: 4px;
    background: transparent !important;
    height: 300px !important;
}